# The module 7 by analytics :

In [32]:
import csv

In [71]:
file_path = 'click_stream3.csv'

In [72]:
with open(file_path, mode='r') as csv_file:
    csv_reader = csv.DictReader(csv_file,
                                fieldnames=['ID', 'page', 'date'])
    type_page = {}
    for row in csv_reader:
        page = list(row.items())[1][1]
        if page not in type_page:
            type_page[page] = 1
        else:
            type_page[page] += 1

In [73]:
type_page

{'1_home_page': 90400,
 '2_search_page': 45200,
 '3_payment_page': 6030,
 '4_payment_confirmation_page': 452}

In [75]:
def count_funnel(curr_p:int, init_p:int):
    return curr_p / init_p
init_position = type_page['1_home_page']
for _type, _count in type_page.items():
    print(f'Customers that was on the page {_type}: {_count} It is {count_funnel(_count, init_position)}% ')

Customers that was on the page 1_home_page: 90400 It is 1.0%
Customers that was on the page 2_search_page: 45200 It is 0.5%
Customers that was on the page 3_payment_page: 6030 It is 0.06670353982300885%
Customers that was on the page 4_payment_confirmation_page: 452 It is 0.005%

In [36]:
import pandas as pd
customers = pd.read_csv(file_path)

In [24]:
customers

            id                         page        date       os     sex
0       313593                  1_home_page  2015-02-26  Desktop  Female
1       468315                  1_home_page  2015-02-21  Desktop    Male
2       264005                  1_home_page  2015-03-25  Desktop  Female
3       290784                  1_home_page  2015-03-14  Desktop    Male
4       639104                  1_home_page  2015-01-03  Desktop  Female
...        ...                          ...         ...      ...     ...
142077  397473  4_payment_confirmation_page  2015-01-12   Mobile  Female
142078  860829  4_payment_confirmation_page  2015-02-07   Mobile  Female
142079  371291  4_payment_confirmation_page  2015-02-17   Mobile  Female
142080  263707  4_payment_confirmation_page  2015-03-20   Mobile  Female
142081  892101  4_payment_confirmation_page  2015-01-06  Desktop    Male

[142082 rows x 5 columns]

In [31]:
customers['page'].value_counts()

1_home_page                    90400
2_search_page                  45200
3_payment_page                  6030
4_payment_confirmation_page      452
Name: page, dtype: int64

In [58]:
customers_confirmation = customers['page'].value_counts()[3] / customers['page'].value_counts()[0]
customers_confirmation

0.005