# The module 16 by object analytics : Methods for writing and opening file other type: CSV and XLSX

## lesson 2 : Read data in the formate of the CSV

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Tesla.csv', index_col='Date')
df.head()

             High        Low       Open      Close    Volume  Adj Close
Date
2010-06-29  25.00  17.540001  19.000000  23.889999  18766300  23.889999
2010-06-30  30.42  23.299999  25.790001  23.830000  17187100  23.830000
2010-07-01  25.92  20.270000  25.000000  21.959999   8218800  21.959999
2010-07-02  23.10  18.709999  23.000000  19.200001   5139800  19.200001
2010-07-06  20.00  15.830000  20.000000  16.110001   6866900  16.110001

## lesson 3: Write DataFrame in the file CSV

In [5]:
df.to_csv('result.csv')

In [11]:
df = pd.read_csv('Tesla.csv', parse_dates=['Date'])
df.dtypes

Date         datetime64[ns]
High                float64
Low                 float64
Open                float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

In [13]:
df['Date'].df

pandas.core.series.Series