# The module 11 by analytics : Numpy(2)

## lesson 1 : change dimension in Ndarray

In [1]:
import numpy as np

In [2]:
a = np.arange(2, 30, 2)
a

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [3]:
a.ndim

1

In [4]:
a.shape

(14,)

In [5]:
X = a.reshape(7, 2)
X
# used to the fuction by reshape for change the form of array

array([[ 2,  4],
       [ 6,  8],
       [10, 12],
       [14, 16],
       [18, 20],
       [22, 24],
       [26, 28]])

In [6]:
X_T = X.transpose() 
X_T

# doing trasposition, or with help to the X.T

array([[ 2,  6, 10, 14, 18, 22, 26],
       [ 4,  8, 12, 16, 20, 24, 28]])

In [7]:
np.array_equal(X.T, X.transpose())

True

In [8]:
#collapse to one row
X_T.ravel()

array([ 2,  6, 10, 14, 18, 22, 26,  4,  8, 12, 16, 20, 24, 28])

In [9]:
income = np.array([[10000, 20000, 40000, 950000],
                   [30000, 40000, 50000, 10000]])

In [11]:
income.shape

(2, 4)

In [23]:
np.log(income)

array([[ 9.21034037,  9.90348755, 10.59663473, 13.76421726],
       [10.30895266, 10.59663473, 10.81977828,  9.21034037]])

In [21]:
income_list = [10000, 20000, 40000, 950000, 30000, 40000, 50000, 10000]

In [22]:
# create and find log for every value from income list with help to the list comprehension
import math
comincome = [math.log(i) for i in income_list]
comincome

[9.210340371976184,
 9.903487552536127,
 10.596634733096073,
 13.764217263576723,
 10.308952660644293,
 10.596634733096073,
 10.819778284410283,
 9.210340371976184]

In [24]:
# create structing array
info = np.array([('Anna', 19, 168), ('Sam', 33, 175.5), ('Pan', 23, 180)],
                dtype=[('name', 'U10'), ('age', int), ('height', float)])

In [25]:
info

array([('Anna', 19, 168. ), ('Sam', 33, 175.5), ('Pan', 23, 180. )],
      dtype=[('name', '<U10'), ('age', '<i8'), ('height', '<f8')])

In [26]:
info[0:2]

array([('Anna', 19, 168. ), ('Sam', 33, 175.5)],
      dtype=[('name', '<U10'), ('age', '<i8'), ('height', '<f8')])

In [27]:
info['name']

array(['Anna', 'Sam', 'Pan'], dtype='<U10')

In [28]:
info['name'][1]

'Sam'

In [29]:
np.save('info.npy', info)

In [31]:
np.load('info.npy') == info

array([ True,  True,  True])

In [33]:
info.tolist()

[('Anna', 19, 168.0), ('Sam', 33, 175.5), ('Pan', 23, 180.0)]