# The module 12 by analytics : Pandas(1)

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([['Anna', 23, 13],
                   ['Gena', 12, 15],
                   ['Vera', 28, None],
                   ])
df

      0   1     2
0  Anna  23  13.0
1  Gena  12  15.0
2  Vera  28   NaN

In [4]:
type(df)

pandas.core.frame.DataFrame

In [6]:
ser1 = pd.Series([1, 2, 3])
ser1

0    1
1    2
2    3
dtype: int64

In [8]:
type(df[0])

pandas.core.series.Series